.ContentPageMainBoxLight {
  width: 1120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 72px;
  background: #e5e5e5;
  transition: 0.5s;
}
.ContentPageMainBoxDark {
  width: 1120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 72px;
  background: #313037;
  transition: 0.5s;
}
.ContentPageLinkMainLight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
}
.ContentPageLinkMainDark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.ContentPageLinkSecondaryLight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(49, 48, 55, 0.5);
}
.ContentPageLinkSecondaryDark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.1);
}
.ContentPageTitleLight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  display: flex;
  color: #313037;
  align-items: flex-start;
  text-align: start;
  margin-top: 32px;
}
.ContentPageTitleDark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 80px;
  display: flex;
  color: #ffffff;
  align-items: flex-start;
  text-align: start;
  margin-top: 32px;
}

.ContentPageImage {
  background-image: url(/src/components/Card/Image.svg);
  width: 1120px;
  height: 518px;
  border-radius: 16px;
  margin-top: 48px;
  object-fit: cover;
}

.ContentPageTextLight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #313037;
  text-align: start;
  margin: 48px 100px;
}
.ContentPageTextDark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: start;
  margin: 48px 100px;
}

.ContentPageShare {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 276px;
  height: 56px;
}

.ContentPageShareIconLight {
  width: 88px;
  height: 56px;
  background: rgba(49, 48, 55, 0.1);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.ContentPageShareIconDark {
  width: 88px;
  height: 56px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.fa-facebook-f,
.fa-twitter,
.fa-circle {
  font-size: 24px;
}

.ContentPagePosts {
  width: 1120px;
  margin-top: 72px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: solid 1px rgba(49, 48, 55, 0.1);
}
