.HeaderMainBoxLight {
  position: absolute;
  top: 0;
  width: 100%;
  height: 96px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 32px;
}
.HeaderMainBoxDark {
  position: absolute;
  top: 0;
  width: 100%;
  height: 96px;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 20px 32px;
}

.HeaderLogo {
  display: flex;
  align-items: center;
  height: 56px;
  min-width: 167px;
  background-image: url(/src/components/Header/Logo.svg);
}
.HeaderSearch {
  height: 96px;
  min-width: 1000px;
  border-right: 1px solid #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.iconLight {
  font-size: 20px;
  color: #313037;
}
.iconDark {
  font-size: 20px;
  color: #ffffff;
}
.fa-user {
  font-size: 20px;
}

.HeaderInputSearchLight {
  width: 800px;
  height: 92px;
  outline: none;
  border: none;
  text-align: start;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 32px;
}

.HeaderInputSearchDark {
  width: 800px;
  height: 92px;
  outline: none;
  border: none;
  text-align: start;
  background: rgba(255, 255, 255, 0.1);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-left: 32px;
}
.HeaderUser {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 92px;
  min-width: 230px;
}
.HeaderUserIcon {
  width: 48px;
  height: 48px;
  background: linear-gradient(133.87deg, #4d0ac7 -10.18%, #912ef2 108.59%);
  border-radius: 4px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.HeaderUserNameLight {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #313037;
  cursor: pointer;
}

.HeaderUserNameDark {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
