.LinkMainBox {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #313037;
  cursor: pointer;
  transition: 0.5s;
}

.LinkMainBox:hover {
  color: #6c1bdb;
}

.LinkMainBox:disabled {
  color: rgba(49, 48, 55, 0.3);
}
